$radius-rounded: 5px;
$without-radius: 0px;

html {
  overflow: hidden;
  height: 100vh;
}

.search_bar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search_bar .container {
  margin: 0 0;
  padding: 4em;
}



.App {
  text-align: center;
  font-family: 'Noto Sans KR', sans-serif;
  display: inline;
}


.App-link {
  color: #09d3ac;
}




#columns {
  display: flex;
  flex-wrap:wrap;
  
  
}

.media {
  height: 220px;
}

.media-content {
  display: flex;
  overflow:hidden;
  height: 150px;
  width: 150px;
}

.is-mobile {
  display: flex;
}

.level-left {
  align-self: flex-start;
}
